application (name = Concorde theme = Adwaita-dark) = {
  vertical-box = {
#	 toolbar
     horizontal-box (no-expand) = {
	    label (name = faction-label text = Faction)
		label (name = cash-label text = Cash)
	    label (name = date-label text = Date pack-end)
		}
	 horizontal-box = {
		grid = {
		   draw (attach-left = 0 attach-right = 7 attach-top = 0 attach-bottom = 8 name = galaxy)
		   table (attach-left = 8 attach-right = 12 attach-top = 0 attach-bottom = 8 name = colony-pop-groups)
		   console (attach-left = 0 attach-right = 4 attach-top = 8 attach-bottom = 12 name = console)
           # table (attach-left = 4 attach-right = 7 attach-top = 8 attach-bottom = 12 name = market)
		}
	 }
  }
}
