application (name = Concorde theme = Adwaita-dark) = {
  vertical-box = {
#	 toolbar
     horizontal-box (no-expand) = {
	    label (name = faction-label text = Faction)
		label (name = cash-label text = Cash)
	    label (name = date-label text = Date pack-end)
		}
	 horizontal-box = {
		grid = {
		   draw (attach-left = 0 attach-right = 7 attach-top = 0 attach-bottom = 7 name = world)
           draw (attach-left = 4 attach-right = 7 attach-top = 7 attach-bottom = 12 name = galaxy)
		   table (attach-left = 7 attach-right = 9 attach-top = 0 attach-bottom = 4 name = colony-pop-groups)
		   table (attach-left = 7 attach-right = 9 attach-top = 4 attach-bottom = 7 name = colony-policies)
		   table (attach-left = 7 attach-right = 9 attach-top = 7 attach-bottom = 8 name = faction-colonies)
		   table (attach-left = 9 attach-right = 12 attach-top = 0 attach-bottom = 4 name = colony-market)
		   console (attach-left = 0 attach-right = 4 attach-top = 7 attach-bottom = 12 name = console)
		   grid (attach-left = 8 attach-right = 12 attach-top = 7 attach-bottom = 12) = {
		       label (name = income-tax attach-left = 0 attach-right = 4 attach-top = 0 attach-bottom = 1 text = income-tax)
			   label (name = poor-income-tax-rate-label attach-left = 0 attach-right = 1 attach-top = 1 attach-bottom = 2 text = poor)
			   scale (attach-left = 1 attach-right = 2 attach-top = 1 attach-bottom = 2 name = poor-income-tax-rate)
			   label (name = middle-class-income-tax-rate-label attach-left = 2 attach-right = 3 attach-top = 1 attach-bottom = 2 text = middle-class)
			   scale (attach-left = 3 attach-right = 4 attach-top = 1 attach-bottom = 2 name = middle-class-income-tax-rate)
			   label (name = rich-income-tax-rate-label attach-left = 0 attach-right = 1 attach-top = 2 attach-bottom = 3 text = rich)
			   scale (attach-left = 1 attach-right = 2 attach-top = 2 attach-bottom = 3 name = rich-income-tax-rate)
			   label (name = megarich-income-tax-rate-label attach-left = 2 attach-right = 3 attach-top = 2 attach-bottom = 3 text = megarich)
			   scale (attach-left = 3 attach-right = 4 attach-top = 2 attach-bottom = 3 name = megarich-income-tax-rate)
			}
		}
	 }
  }
}
