rating = {
   automation
   birth-rate
   consumer-confidence
   death-rate
   education
   environment
   equality
   health
   immigration
   liberalism
   poverty
   poor-tax-evasion
   megarich-tax-evasion
   middle-class-tax-evasion
   poverty-rate
   rich-tax-evasion
   socialism
   unemployment
   wages
}

#quantity = {
#   total-population
#}
