faction = {
   start-cash = 1M
   capital = {
      outpost = {
         count = 1
         stock = {
            rations = 5000
            readymeal = 1000
            luxuryfood = 500
            bargainclothes = 5000
            regularclothes = 1000
            luxuryclothes = 500
            bottled-water = 5000
            soda = 1000
            ambrosia = 500
            alcohol = 5000
            stimulants = 1000
            narcotics = 500
            grains = 10000
            salt = 5000
            herb = 5000
            livestock = 1000
            vegetables = 1000
         }
      }
      clinic = 1
      private-clinic = 1
      basic-internet-provider = 2
      broadband-internet-provider = 1
      virtual-reality-studio = 1
      small-food-factory = 1
   }
   
   installations = {
      small-farm = {
         count = 4
         terrain = { forest grass hill jungle marsh plain }
         resources = organic
      }
      small-mine = {
         count = 4
         terrain = { desert hill ice mountain tundra volcanic }
         resources = { metal fissile }
     }
      refinery = {
         count = 2
         terrain = { desert ice volcanic water }
         resources = { mineral fuel }
     }
   }
}
