#imperium = {
#   name = Imperium
#   adjective = Imperial
#   capital = "Byzantium Secundus"
#   color = { 102 2 60 }
#   }

musitello = {
   name = Musitello
   capital = Aramael
   color = { 106 90 205 }
}

atreides = {
   name = Atreides
   capital = Caladan
   color = { 255 144 30 }
}

harkonnen = {
   name = Harkonnen
   capital = "Geidi Prime"
   color = { 102 102 20 }
}

corrino = {
   name = Corrino
   capital = Kaitan
   color = { 144 255 30 }
}

paleologos = {
   name = Paleologos
   adjective = Paleologian
   plural = Paleologoi
   capital = Constantinople
   color = { 0 120 0 }
}

komnenos = {
   name = Komnenos
   adjective = Komnenon
   plural = Komnenoi
   capital = Antioch
   color = { 135 206 250 }
}

hapsburg = {
   name = Hapsburg
   capital = Vienna
   color = { 192 41 66 }
}

plantagent = {
   name = Plantagenet
   capital = London
   color = { 229 252 194 }
}
