zones-per-pop = {
   value = [ residential / total-population ]
   effect = {
      poor = [ zones-per-pop - 1 ]
      middle-class = [ (zones-per-pop - 1) / 2 ]
      rich = [ (zones-per-pop - 1) / 5 ]
      health = [ 0.1 - zones-per-pop / 10 ]
   }
}

food-supply = {
    content = quantity
    value = [ farming * (1 + environment) ]
}

food-availability = {
    value = [ food-supply / food-demand ]

    effect = { 
        poor = [ x - 0.8 ]
        middle-class = [ x / 2 - 0.4 ]
        rich = [ x / 3 - 0.2 ]
        health = [ x - 1]
    }
}

