middle-class-income-tax-rate = {
   effect = {
       middle-class = -1
       middle-class-income = -0.4
       middle-class-tax-evasion = { multiply = 0.1 inertia = 60 }
   }
}

poor-income-tax-rate = {
   effect = {
       socialist = -1
       equality = { multiply = -1 inertia = 30 }
       poor = -1
       poor-income = -0.4
       poor-tax-evasion = { exponent = 4 inertia = 60 }
    }
}

rich-income-tax-rate = {
    effect = {
       socialist = 0.4
       equality = { multiply = 1 inertia = 30 }
       rich = -1
       rich-income = -0.4
       rich-tax-evasion = { multiply = 0.2 inertia = 60 }
    }
}

megarich-income-tax-rate = {
    effect = {
       socialist = 0.4
       equality = { multiply = 1 inertia = 30 }
       megarich = -1
       megarich-income = -0.4
       megarich-tax-evasion = { multiply = 0.5 inertia = 30 }
    }
}

state-health-service = {
    effect = {
       poor = { add = 0.05 multiply = 0.15 }
       capitalist = { add = -0.02 multiply = -0.1 }
       rich = -0.1
       megarich = -0.2
       socialist = { add = 0.05 multiply = 0.11 }
       health = { multiply = 0.25 exponent = 0.6 add = 0.05 inertia = 120 }
       retired = 0.16
       unemployment = -0.19
       state-employees = 0.22
       state-employees-proportion = 0.1
       state-employees-income = 0.09
       socialism = { multiply = 0.052 inertia = 120 }
   }
   cost = {
      low = 0.1
      high = 1
      multipliers = {
         total-population = { exponent = 0.5 }
         environment = { add = 0.2 multiply = -0.1 }
         # _default_,0.6;TobaccoUse,0+(0.16*x);Environment,0.2-(0.1*x);Alcoholism,0.1+(0.1*x);Wages,-0.1+(0.2*x)
      }
      
   }
}
