middle-class-income-tax = {
   middle-class = -1
   middle-class-income = -0.4
}

poor-income-tax = {
   socialist = -1
   equality = { multiply = -1 delay = 30 }
   poor = -1
   poor-income = -0.4
}

rich-income-tax = {
   socialist = 0.4
   equality = { multiply = 1 delay = 30 }
   rich = -1
   rich-income = -0.4
}
