middle-class-income-tax-rate = {
   effect = {
       middle-class = [ -x ]
       middle-class-income = [ -0.4 * x ]
       middle-class-tax-evasion = [ delay 60 (x / 10) ]
   }
}

poor-income-tax-rate = {
   effect = {
       socialist = [ -x ]
       equality = [ delay 30 -x ]
       poor = [ -x ]
       poor-income = [ -0.4 * x ]
       poor-tax-evasion = [ delay 60 (x ** 4) ]
    }
}

rich-income-tax-rate = {
    effect = {
       socialist = [ 0.4 * x ]
       equality = [ delay 30 x ]
       rich = [ -x ]
       rich-income = [ -0.4 * x ]
       rich-tax-evasion = [ delay 60 x / 5 ]
    }
}

megarich-income-tax-rate = {
    effect = {
       socialist = [ 0.4 * x ]
       equality = [ delay 30 x ]
       megarich = [ -x ]
       megarich-income = [ -0.4 * x ]
       megarich-tax-evasion = [ delay 30 (x / 2) ]
    }
}

state-health-service = {
    effect = {
       poor = [ 0.15 * x + 0.05 ]
       capitalist = [ -0.1 * x - 0.02 ]
       rich = [ -0.1 * x ]
       megarich = [ -0.2 * x ]
       socialist = [ 0.05 + x * 0.11 ]
       health = [ delay 120 (x ** 0.6 / 4 + 0.05) ]
       retired = [ 0.16 * x ]
       unemployment = [ -0.19 * x ]
       state-employees = [ 0.22 * x ]
       state-employees-proportion = [ 0.1 * x ]
       state-employees-income = [ 0.09 * x ]
       socialism = [ delay 120 (x * 0.052) ]
   }
   cost = [ 0.1 + x * 0.9 * (everybody-population / 10) * (1.2 - environment / 10) * (0.9 + wages / 10) ]      
}

state-pensions = {
    effect = {
        capitalist = [ -0.1 - x * 0.02 ]
        retired = [ -0.2 + x * 0.55 ]
        poor = [ -0.07 + x * 0.12 ]
        poverty-rate = [ -0.2 * x ]
        retired-income = [ -0.1 + x * 0.2 ]
        socialism = [ delay 500 (0.02 + x * 0.02) ]
        retired-proportion = [ delay 250 (x * 0.09) ]
    }
    
    cost = [ retired-population * x * (1 + 0.2 * health ** 6) ]
}

state-schools = {
    effect = {
        poor = [ 0.04 + x * 0.11 ]
        socialist = [ 0.2 * x ]
        education = [ delay 250 (0.3 * x ** 0.6 + 0.07) ]
    }
    
    cost = [ parents-population / 2 * (1 + wages / 5 + 0.1) ]    
}
