{
	id = 0
	anchor = {
		left = 1
		top = 1
		right = 13
		bottom = 13
		}
	childBoxes = { 1 2 }
}
{
	id = 1
	anchor = {
		left = 1
		top = 1
		right = 13
		bottom = 11
		}
	childBoxes = { 3 4 }
}
{
	id = 2
	anchor = {
		left = 1
		top = 11
		right = 13
		bottom = 13
		}
}
{
	id = 3
	anchor = {
		left = 1
		top = 1
		right = 7
		bottom = 11
		}
	childBoxes = { 5 6 }
}
{
	id = 4
	anchor = {
		left = 7
		top = 1
		right = 13
		bottom = 11
		}
	childBoxes = { 7 8 }
}
{
	id = 5
	anchor = {
		left = 1
		top = 1
		right = 7
		bottom = 6
		}
}
{
	id = 6
	anchor = {
		left = 1
		top = 6
		right = 7
		bottom = 11
		}
}
{
	id = 7
	anchor = {
		left = 7
		top = 1
		right = 13
		bottom = 6
		}
}
{
	id = 8
	anchor = {
		left = 7
		top = 6
		right = 13
		bottom = 11
		}
}
