imperium = {
    name = Imperium
    adjective = Imperial
    plural = Imperium
}

musitello = {
   name = Musitello
   capital = Aramael
}

atreides = {
   name = Atreides
   capital = Caladan
}

harkonnen = {
   name = Harkonnen
   capital = "Geidi Prime"
}

corrino = {
   name = Corrino
   capital = Kaitan
}

paleologos = {
   name = Paleologos
   adjective = Paleologian
   plural = Paleologoi
   capital = Constantinople
}

komnenos = {
   name = Komnenos
   adjective = Komnenon
   plural = Komnenoi
   capital = Antioch
}

hapsburg = {
   name = Hapsburg
   capital = Vienna
}

plantagent = {
   name = Plantagenet
   capital = London
}
